<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ru" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:include="fragments/head">
</head>

<body>

<header th:include="fragments/header"></header>

<div class="container">
        <main role="main" class="container">
                <h1 class="mt-5">Spring Library</h1>
                <span class="lead">Онлайн библиотека на SpringBoot</span>
                <nav>
                        <span><b>CRUD приложение Spring Security</b></span>
                        <ul>
                                <li>СВ CRUD Web-приложение добавить механизм аутентификации</li>
                                <li>В существующее CRUD-приложение добавить мехнизм Form-based аутентификации</li>
                                <li>UsersServices реализовать самостоятельно</li>
                        </ul>
                </nav>
        </main>
</div>

<footer th:include="fragments/footer"></footer>


</body>
</html>