<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.spring01.questionnaire.dao.QuestionDaoImpl">
        <constructor-arg name="questionsFile" value="qa.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring01.questionnaire.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>


</beans>