<header xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="header">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Spring Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books" th:text="#{w.main.menu.books}">Книжки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/authors" th:text="#{w.main.menu.authors}">Авторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genres" th:text="#{w.main.menu.genres}">Жанры</a>
                </li>
            </ul>
        </div>
    </nav>

</header>